@import "tailwindcss";

@font-face {
  font-family: "Thmanyah Serif";
  src: url("./assets/fonts/thmanyahserifdisplay-Black.woff2") format("woff2");
  font-weight: 700 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thmanyah Sans";
  src: url("./assets/fonts/thmanyahsans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thmanyah Sans";
  src: url("./assets/fonts/thmanyahsans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thmanyah Sans";
  src: url("./assets/fonts/thmanyahsans-Bold.woff2") format("woff2");
  font-weight: 700 900;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "Thmanyah Sans", system-ui, sans-serif;
}

html,
body,
button,
input,
textarea,
select {
  font-family: "Thmanyah Sans", system-ui, sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Thmanyah Serif", "Thmanyah Sans", system-ui, sans-serif;
}

h1 {
  letter-spacing: -0.02em;
}

h2 {
  letter-spacing: -0.02em;
}
